@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import '~antd/dist/antd.css';

*{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}
.h100{
    height: calc(100vh - 112px);
}

.w{
    width: 80vw;
}
.site-calendar-demo-card {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}

.login-form {
    width: 300px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}
.layout{
    background: #FFF;
}

@media (min-width:1200px){
    .layout{
        padding: 0px 200px;
    }
}
@media (max-width:1200px){
    .layout{
        padding: 0px 30px;
    }
}
@media (max-width:992px){
    .layout{
        padding: 0px 20px;
    }
}
@media (max-width:576px){
    .layout{
        padding: 0px 10px;
    }
}